<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendación de Ciudad</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="header">
        <h1>Recomendación de Ciudad</h1>
    </header>
    <div class="container-title">
        <h2>Ingresa los datos para obtener una recomendación de ciudad</h2>
    </div>
    <main>
        <div class="container-form">
            <form action="/predict" method="post">
                <label for="Month">Mes:</label>
                <select id="Month" name="Month" required>
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select><br><br>

                <label for="Accommodation_type">Tipo de Alojamiento:</label>
                <select id="Accommodation_type" name="Accommodation_type" required>
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="1">Airbnb</option>
                    <option value="2">Guesthouse</option>
                    <option value="3">Hostel</option>
                    <option value="4">Hotel</option>
                    <option value="5">Resort</option>
                    <option value="6">Riad</option>
                    <option value="7">Vacation rental</option>
                    <option value="8">Villa</option>
                </select><br><br>

                <label for="Transportation_type">Tipo de Transporte:</label>
                <select id="Transportation_type" name="Transportation_type" required>
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="1">Airplane</option>
                    <option value="2">Bus</option>
                    <option value="3">Car</option>
                    <option value="4">Car rental</option>
                    <option value="5">Ferry</option>
                    <option value="6">Subway</option>
                    <option value="7">Train</option>
                </select><br><br>

                <label for="Traveler_gender">Género del Viajero:</label>
                <select id="Traveler_gender" name="Traveler_gender" required>
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="0">Hombre</option>
                    <option value="1">Mujer</option>
                </select><br><br>
                <label for="Traveler_age">Edad del Viajero:</label>
                <input type="number" id="Traveler_age" name="Traveler_age" min="1" required><br><br>
                <label for="Transportation_cost">Costo del Transporte en Dolares:</label>
                <input type="number" id="Transportation_cost" name="Transportation_cost" min="0" required><br><br>
                <label for="Temperature_Centigrade">Temperatura en Grados Centigrados:</label>
                <input type="number" id="Temperature_centigrade" name="Temperature_Centigrade" min="-100" max="1000" required><br><br>
                <label for="Duration">Duración del Viaje en Dias:</label>
                <input type="number" id="Duration" name="Duration" min="1" required><br><br>
                <input class="button" type="submit" value="Obtener Recomendación">
            </form>
        </div>
        {% if ciudad_recomendada %}
        <div id="recommendation" class="container-recommendation show">
            <h3>Resultado:</h3>
            <hr>
            <p>La recomendación de ciudad para tu situación es: {{ ciudad_recomendada }}</p>
        </div>
        {% endif %}
    </main>
    <footer class="footer">
        <p>2025 Desarrollado por: Ricardo Mejía y Caroly Cadena</p>
    </footer>
    <script src="/static/js/main.js"></script>
</body>
</html>